In [8]:
import sys
sys.executable

'd:\\Basic_principles_of_Artificial_intelligence\\.venv\\Scripts\\python.exe'

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
data_path = '../data/updated_cleaned_patient_data.csv'
data = pd.read_csv(data_path)

print(data.head())
print(data.info())
print(data.describe())

      FBS    BMI  Diabetes   age  hypertension  vegetarian (1= yes, 0=no)  \
0  228.69  34.00         1  71.0             1                          1
1  202.21  32.48         0  52.0             1                          0
2  105.92  30.50         1  78.0             1                          1
3  171.23  35.00         0  54.0             1                          0
4  174.12  28.00         0  79.0             1                          0

   Exercise (min/week)  stroke  Cholesterol  Living_Area_Code  \
0                  0.0       1        210.5                 1
1                 90.0       1        190.0                 0
2                  0.0       1        190.0                 0
3                  0.0       1        240.5                 1
4                 90.0       1        190.0                 0

   Marriage_Status_Code
0                     1
1                     1
2                     1
3                     1
4                     1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   FBS                        1000 non-null   float64
 1   BMI                        1000 non-null   float64
 2   Diabetes                   1000 non-null   int64
 3   age                        1000 non-null   float64
 4   hypertension               1000 non-null   int64
 5   vegetarian (1= yes, 0=no)  1000 non-null   int64
 6   Exercise (min/week)        974 non-null    float64
 7   stroke                     1000 non-null   int64
 8   Cholesterol                1000 non-null   float64
 9   Living_Area_Code           1000 non-null   int64
 10  Marriage_Status_Code       1000 non-null   int64
dtypes: float64(5), int64(6)
memory usage: 86.1 KB
None
               FBS          BMI     Diabetes          age  hypertension  \
count  1000.000000  1000.000000  1000.000000  1000.000000   1000.000000
mean    112.083470    29.685200     0.408000    48.169440      0.138000
std      49.899794     7.805266     0.491709    22.867224      0.345073
min      55.250000    12.000000     0.000000     0.240000      0.000000
25%      77.992500    24.475000     0.000000    30.000000      0.000000
50%      94.615000    28.700000     0.000000    52.000000      0.000000
75%     122.335000    33.865000     1.000000    68.000000      0.000000
max     271.740000    78.000000     1.000000    88.000000      1.000000

       vegetarian (1= yes, 0=no)  Exercise (min/week)      stroke  \
count                1000.000000           974.000000  1000.00000
mean                    0.081000            35.913758     0.24900
std                     0.272972            45.581058     0.43265
min                     0.000000             0.000000     0.00000
25%                     0.000000             0.000000     0.00000
50%                     0.000000             0.000000     0.00000
75%                     0.000000            90.000000     0.00000
max                     1.000000           120.000000     1.00000

       Cholesterol  Living_Area_Code  Marriage_Status_Code
count  1000.000000       1000.000000           1000.000000
mean    203.481000          0.504000              0.709000
std      18.408613          0.500234              0.454451
min     190.000000          0.000000              0.000000
25%     190.000000          0.000000              0.000000
50%     190.000000          1.000000              1.000000
75%     210.500000          1.000000              1.000000
max     240.500000          1.000000              1.000000

In [15]:
col_names = data.columns.tolist()
print("Column Names:", col_names)

Column Names: ['FBS', 'BMI', 'Diabetes', 'age', 'hypertension', 'vegetarian (1= yes, 0=no)', 'Exercise (min/week)', 'stroke', 'Cholesterol', 'Living_Area_Code', 'Marriage_Status_Code']

In [18]:
x = data[col_names]  # Features
y = data[col_names]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42) # 80% training and 20% test